#root {
  position: relative;
  left: 110vw;
}

#skeleton {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.skeleton-image-placeholder {
  background: rgba(0, 0, 0, 0.2);
  height: 40vmin;
  width: 40vmin;
}

.shimmer {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 4%,
    rgba(0, 0, 10, 0.15) 25%,
    rgba(0, 0, 0, 0.1) 66%
  );
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
